@import url('https://fonts.googleapis.com/css?family=Big+Shoulders+Text:100, 300, 400, 500, 600, 700, 800, 900&display=swap');

body
{
  margin: 0;
  padding: 0;
  background: #232323;
  color: #cdcdcd;
  font-family: "Avenir Next", "Avenir", sans-serif;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}
#menuToggle a:hover
{
  color: #eb8484e3
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; 
  z-index: 2; 
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #c0e9df;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}


#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}
#menuToggle input:checked ~ ul
{
  transform: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.section-intro {
	height: 820px;
	background-image: url(media/streetview1.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-intro h1 {
	text-align: center;
	color: #000;
	font-size: 4em;
	font-weight: 700;
	margin-bottom: 10rem;
	padding: 3rem;
}
.section-intro header {
	display: flex;
	flex: 4;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.section-intro div p{
	margin-bottom: 45px;
    margin-left: 17px;
    color: #ffffffa4;
    font-family: 'Big Shoulders Text', cursive, Extra-bold 800;
    font-size: 40px;
    font-weight: 300;
    letter-spacing: -.1px
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	text-align: center;
}


.link-to-book-wrapper {
	flex: 1;
}

.about-section {
	display: flex;
	align-items: center;
	background-color: #f3f3f3c0;
	padding: 50px 30px;
}

.link-to-book {
	color: #ffffff;
	display: block;
	border: 2px solid #ffffff;
	padding: 5px 10px;
}

a.link-to-book:hover {
	background-color: #ffffff;
	color: #95999e;
	text-decoration: none;
}

.about-section h3, h6 {
	text-align: center;
	width: 60%;
	margin: auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.8em;
	text-transform: uppercase;
	font-style: italic;
}
.about-section h6 {
	width: 40%;
	font-size: 1.0em;
	padding: 2rem;

}
.about-section p {
	text-align: center;
	width: 50%;
	margin: auto;
	font-family: 'Big Shoulders Text', cursive;
	font-size: 1.2em;
	text-transform: lowercase;
}
.about-section img {
	border: 1px #cccccc solid;
	padding: 4px;
	margin: auto;
	display: flex;
	max-width: 100%;  
	height: auto; ;
  }
  
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 1.5em;
  }
  
  .menu {
	font-family: 'Big Shoulders Text', cursive;
	font-size: 14px;
  }
  
  .menu-group-heading {
	margin: 0;
	padding-bottom: 1em;
	border-bottom: 2px solid #ccc;
  }
  
  .menu-group {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1.5em;
	padding: 1.5em 0;
  }
  
  .menu-item {
	display: flex;
  }
  
  .menu-item-image {
	width: 80px;
	height: 80px;
	flex-shrink: 0;
	object-fit: cover;
	margin-right: 1.5em;
  }
  
  .menu-item-text {
	flex-grow: 1;
  }
  
  .menu-item-heading {
	display: flex;
	justify-content: space-between;
	margin: 0;
  }
  
  .menu-item-name {
	margin-right: 1.5em;
  }
  
  .menu-item-description {
	line-height: 1.6;
  }
  
  @media screen and (min-width: 992px) {
	.menu {
	  font-size: 16px;
	}
  
	.menu-group {
	  grid-template-columns: repeat(2, 1fr);
	}
  
	.menu-item-image {
	  width: 125px;
	  height: 125px;
	}
  }

  
.carousel-inner {
	height: 700px;
}

.row-flex {
	display: flex;
	flex-direction: row;
}

.flex-column-form {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin: 30px 20px;
}

.btn.btn-primary {
	font-family: 'Big Shoulders Text', cursive;
	color: #ffffff;
	background-color: #95999e;
	text-transform: uppercase;
	font-size: 16px;
	padding: 5px 10px;
	letter-spacing: 2px;
	border: 0;
}

.btn.btn-primary:hover {
	background-color: #747474;
}
.opening-time,
.contact-address {
	flex: 1;
	margin: 30px 20px;
	font-size: 1.2em;
}

.form-group p {
	font-size: 1.2em;
}

.opening-time p span,
.contact-address p span {
	display: block;
}

@media (min-width:577px) and (max-width: 800px) {

	.section-intro {
		height: 500px;
	}

	.about-section p,
	.about-section h3, 
	.about-section h6 {
		font-size: 20px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 576px) {
	.section-intro {
		height: 300px;
	}

	.about-section {
		padding: 30px;
	}

	.section-intro h1 {
		font-size: 2em;
	}

	.about-section p,
	.about-section h3,
	.about-section h6 {
		font-size: 15px;
	}

	.carousel-inner {
		height: auto;
	}

	.row-flex {
		display: flex;
		flex-direction: column;
	}

	.row-flex h3 {
		font-size: 25px;
		text-align: center;
	}

	.form-group p {
		font-size: 15px;
	}

	.opening-time p span,
	.contact-address p span {
		font-size: 15px;
		text-align: center;
	}

}
